{% include "header.html" %}
{% block content %}

    <main>
        <!-- Hero area Start-->
        <div class="slider-area">
            <div class="slider-height2 slider-bg4 hero-overly d-flex align-items-center">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-xl-5 col-lg-6 col-md-6">
                            <div class="hero-caption hero-caption2">
                                <center><h2>About Us</h2></center>
                            </div>
                        </div>
                    </div>
                </div>
            </div> 
        </div>
        <!--  Hero area End -->
        <!-- About -->
        <div class="support-company-area section-padding">
            <div class="container">
                <div class="row align-items-center justify-content-between">
                    <div class="col-xl-5 col-lg-6 col-md-10">
                        <div class="right-caption">
                            <!-- Section Tittle -->
                            <div class="section-tittle">
                                <center><h2>Mission</h2></center>
                            </div>
                            <div class="support-caption">
                                <p class="mb-10">In 2020, HRSSI came into existence by Eritrean volunteers to assist Refugees with collaboration of Darul-Arqam Islamic center.</p>
                                <p class="pera-top">At HRSSI, we understand the challenges that newcomers face in Canada. HRSSI will provide information and assistance to guarantee the success of individuals and families in Canada by providing access to various services, including employment, immigration, housing and settlement.
                                                    HRSSI has a wide range of concerns relating to immigrants and refugees, which include protection of refugees in Canada and overseas, barriers to family reunification and delays in processing of privately sponsored refugees
                                                    HRSSI mission is to empower individuals, families and communities to lead informed, productive and culturally sensitive lives. HRSSI is inclusive, and welcoming society that works together to engage with and integrate newcomers and other community members into Canadian life.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-10">
                        <div class="support-location-img">
                            <img src="{{ url_for('static', filename='img/gallery/about.jpg')}}" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- About Area End-->
        <!-- Emergency care start -->
        <div class="emargency-care section-img-bg2" data-background="{{ url_for('static', filename='img/gallery/section-bg2.jpg')}}">
            <div class="container">
                <div class="row justify-content-end">
                    <div class="col-xl-6 col-lg-8 col-md-9 col-sm-12">
                        <div class="single-emargency">
                            <div class="emargency-cap">
                                <center><h5><a href="#">Vision</a></h5></center>
                                <p class="mb-10">HRSSI is a center of excellence which is dedicated to providing comprehensive social, educational and ethical support to new comer families and individuals that is aimed at generating well informed, prepared and rounded personal growth with sound reasoning, critical thinking and decision making skills which will help them effectively utilize the intellectual and personal resource necessary to succeed in their new life. The ultimate result of our organization is a positive impact on society through the maintenance of our center mission and values.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Emergency care End -->
        <!-- Join with Us Start-->
        <div class="join-us-area section-padding">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-xl-4 col-lg-6 col-md-10">
                        <div class="joing-details">
                            <div class="section-tittle">
                                <h2>Values</h2>
                            </div>
                            <p>We are committed to:</p>
                            <ul>
                                <li><p>➊ Working within a social justice/anti-oppression framework that demonstrates our respect for newcomers and the broader community of individuals who seek our services.</p></li>
                                <li><p>➋ Recognizing our board, staff and volunteers as instrumental to providing quality Programs and services that are client-centered and results oriented.</p></li>
                                <li><p>➌ Being accountable</p></li>
                                <li><p>➍ Engaging in continuous learning and improvement to ensure that our programs and services incorporate best practices and remain responsive.</p></li>
                            </ul>
                        </div>
                    </div>
                    <div class="offset-xl-1 col-xl-4 col-lg-4 col-md-7 col-sm-7">
                        <div class="joning-img">
                            <img src="{{ url_for('static', filename='img/gallery/joining1.jpg')}}" alt="" class="w-100">
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-5 col-sm-5">
                        <div class="joning-img">
                            <img src="{{ url_for('static', filename='img/gallery/eri_refugee2.png')}}" alt="" class="w-100">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Join with Us End-->
    </main>

    {% endblock content %}
    {% include "footer.html" %}