{% include "header.html" %}
{% block content %}

    <main>
        <!-- slider Area Start-->
        <div class="slider-area position-relative">
            <div class="slider-active dot-style">
                <!-- Single Slider -->
                <div style="background-image: url('static/img/hero/thesix.jpg')" class="single-slider hero-overly slider-height d-flex align-items-center">
                    <div class="container">
                        <div class="row">
                            <div class="col-xxl-6 col-xl-7 col-lg-7 col-md-8 col-sm-10">
                                <div class="hero-caption">
                                    <h1 data-animation="fadeInUp" data-delay=".2s">Support a cause you care about</h1>
                                    <P data-animation="fadeInUp" data-delay=".4s"> Every year, thousands of Eritreans flee Eritrea, Sudan, Yemen, Ethiopia and the Middle East for a better life.
                                        Help make that dream a reality.</P>
                                    <a href="/about" class="btn hero-btn"  data-animation="fadeInUp" data-delay=".8s">Learn More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- About -->
        <div class="support-company-area section-padding">
            <div class="container">
                <div class="row align-items-center justify-content-between">
                    <div class="col-xl-6 col-lg-6 col-md-10">
                        <div class="support-location-img">
                            <img src="{{ url_for('static', filename='img/gallery/erirefugee.png')}}" alt="">
                        </div>
                    </div>
                    <div class="col-xl-5 col-lg-6 col-md-10">
                        <div class="right-caption">
                            <!-- About Us -->
                            <div class="section-tittle">
                                <h2>Who we are?</h2>
                            </div>
                            <div class="support-caption">
                                <p class="mb-10">We are Hope Refugee Settlement Services International, a nonprofit organization that is committed to providing support to refugees and other vulnerable migrants with the process of settling in Canada, and life after settlement.</p>
                                <p class="pera-top">Our goal is to preserve, strengthen, and promote individual well-being and family ties.</p>
                                <a href="about" class="btn about-btn">Learn More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- About Area End-->
        <!-- Count Down Start -->
        <div class="count-down-area pt-25 section-img-bg2" data-background="{{ url_for('static', filename= 'img/gallery/toronto.jpeg')}}">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-12 col-md-12">
                        <div class="count-down-wrapper" >
                            <div class="row justify-content-between">
                                <div class="col-lg-3 col-md-6 col-sm-6">
                                    <div class="single-counter d-flex align-items-center">
                                        <div class="counter-img">
                                            <img src="{{ url_for('static', filename= 'img/icon/count-icon1.svg')}}" alt="">
                                        </div>
                                        <div class="captions">
                                            <span class="counter">25</span>
                                            <span class="plus">+</span>
                                            <p class="color-green">Active Cases</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-6 col-sm-6">
                                    <div class="single-counter d-flex align-items-center">
                                        <div class="counter-img">
                                            <img src="{{ url_for('static', filename = 'img/icon/count-icon2.svg')}}" alt="">
                                        </div>
                                        <div class="captions">
                                            <span class="counter">45</span>
                                            <span class="plus">+</span>
                                            <p class="color-green">People Joined</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-6 col-sm-6">
                                    <div class="single-counter d-flex align-items-center">
                                        <div class="counter-img">
                                            <img src="{{ url_for('static', filename='img/icon/count-icon3.svg')}}" alt="">
                                        </div>
                                        <div class="captions">
                                            <span class="counter">50</span>
                                            <span class="plus">+</span>
                                            <p class="color-green">Cases every Year</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-6 col-sm-6">
                                    <div class="single-counter d-flex align-items-center">
                                        <div class="counter-img">
                                            <img src="{{ url_for('static', filename='img/icon/count-icon4.svg')}}" alt="">
                                        </div>
                                        <div class="captions">
                                            <span class="counter">82</span>
                                            <p class="color-green">People get help from us</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Count Down End -->
        <!-- Our Services Start -->
        <div class="our-services section-padding position-relative">
            <div class="container">
                <div class="row justify-content-sm-center">
                    <div class="col-xl-7 col-lg-8 col-md-11">
                        <!-- Section Tittle -->
                        <div class="section-tittle text-center mb-70">
                            <h2>Services we Offer to Refugees</h2>
                            <p>Here are some of the services that HRSSI Hope offers<br>Eritreans in Canada and Abroad.</p>
                        </div> 
                    </div>
                </div>
                <div class="row justify-content-between">
                    <div class="col-xxl-3 col-xl-4 col-lg-4 col-md-6 col-sm-6">
                        <div class="single-services text-center mb-30">
                            <div class="services-icon">
                                <img src="{{ url_for('static', filename = 'img/icon/refugee1.png')}}" alt="">
                            </div>
                            <div class="services-cap">
                                <h5><a href="about">Refugee Sponsorship</a></h5>
                                <p>We protect refugees in Canada and overseas and alleviate barriers to family reunification and delays in processing of privately sponsored refugees.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-3 col-xl-4 col-lg-4 col-md-6 col-sm-6">
                        <div class="single-services text-center mb-30">
                            <div class="services-icon">
                                <img src="{{ url_for('static', filename='img/icon/mace.png')}}" alt="">
                            </div>
                            <div class="services-cap">
                                <h5><a href="about">Legal Aid</a></h5>
                                <p>We provide legal aid and support for refugees. This includes finding you a legal representative and translation services.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-3 col-xl-4 col-lg-4 col-md-6 col-sm-6">
                        <div class="single-services text-center mb-30">
                            <div class="services-icon">
                                <img src="{{ url_for('static', filename='img/icon/jobsearch.png')}}" alt="">
                            </div>
                            <div class="services-cap">
                                <h5><a href="about">Housing & Jobs</a></h5>
                                <p>For newly landed and early stage refugees in Canada, we help them with finding appropriate housing and employment for their situations.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Our Services End -->
        <!-- Emergency care start -->
        <div class="emargency-care section-img-bg2" data-background="{{ url_for('static', filename='img/gallery/section-bg2.jpg')}}">
            <div class="container">
                <div class="row justify-content-end">
                    <div class="col-xl-6 col-lg-8 col-md-9 col-sm-12">
                        <div class="single-emargency">
                            <div class="emargency-cap">
                                <h5><a href="#">We need your help</a></h5>
                                <p> HRSSI was founded by a group of Eritrean former refugees who understand the challenged faced by other refugees when going through the process of immigration to a foreign land.</p>
                                <p class="emargenc-cap">We know the difficulties refugees face when first planning to immigrate and when they arrive. Help us provide them all the necessary assitance and information needed to ensure thier successful integration into Canada.</p>
                                <a href="#" class="btn loan-btn">Donate Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Emergency care End -->
        <!-- Join with Us Start-->
        <div class="join-us-area section-padding">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-xl-4 col-lg-5 col-md-10">
                        <div class="joing-details">
                            <div class="section-tittle">
                                <h2>Join Us</h2>
                            </div>
                            <p> If you are looking to get involved by volunteering your time to help those in need, look no more! We welcome your support and efforts.</p>
                            <a href="join" class="btn about-btn">Join Now</a>
                        </div>
                    </div>
                    <div class="offset-xl-1 col-xl-4 col-lg-4 col-md-7 col-sm-7">
                        <div class="joning-img">
                            <img src="{{ url_for('static', filename='img/gallery/joining1.jpg')}}" alt="" class="w-100">
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-5 col-sm-5">
                        <div class="joning-img">
                            <img src="{{ url_for('static', filename='img/gallery/eri_refugee2.png')}}" alt="" class="w-100">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Join with Us End-->
    </main>

    {% endblock content %}
    {% include "footer.html" %}
